body {
    margin: 0px;
}

.backgroundhid {
    position: fixed;
    top: 0px;
    z-index: -1;
    width: 120%;
    left: -20%;
}
/* font */
@font-face {
    font-family: "Poppins";
    src: url(res/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(res/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins Black";
    src: url(res/Poppins-Black.ttf);
}

@font-face {
    font-family: "Poppins Thin";
    src: url(res/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(res/Poppins-Bold.ttf);
}

/* header navigasi */
header {
    height: 100px;
    width: 100%;
    background-color: #fafafa;
    position: fixed;
    top: -1px;
    z-index: 10;
}

.header-list {
    padding-right: 10%;
    text-align: right;
}

.header-list a {
    display: inline-block;
    line-height: 100px;
    padding: 0px 20px;
    font-style: normal;
    list-style: none;
    font-weight: 500;
    font-size: 17px;
    color: #002368;
    font-family: 'Poppins';
    text-decoration: none;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-list a:hover {
    color: rgb(252, 188, 60);
}

.header-list a:active {
    background-color: rgb(0, 35, 104);
    color: white;
}

.header-logo {
    float: left;
    padding: 30px 10%;
}

.header-logo img {
    height: 40px;
}

/* main */
    /* banner */
@keyframes change-font {
    0% {
        font-family: 'Poppins Bold';
        color:#1F4262;
    }
    16% {
        font-family: 'Poppins Bold';
        color:#1F4262;
    }
    18% {
        font-family: 'Poppins Bold';
        color:#fafafa;
    }
    20% {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#1F4262;
    }
    36% {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#1F4262;
    }
    38% {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#fafafa;
    }
    40% {
        font-family: 'Courier';
        color:#1F4262;
    }
    56% {
        font-family: 'Courier';
        color:#1F4262;
    }
    58% {
        font-family: 'Courier';
        color:#fafafa;
    }
    60% {
        font-family: 'Times New Roman', Times, serif;
        color:#1F4262;
    }
    76% {
        font-family: 'Times New Roman', Times, serif;
        color:#1F4262;
    }
    78% {
        font-family: 'Times New Roman', Times, serif;
        color:#fafafa;
    }
    80% {
        font-family: 'Lucida Handwriting';
        color:#1F4262;
    }
    86% {
        font-family: 'Lucida Handwriting';
        color:#1F4262;
    }
    88% {
        font-family: 'Lucida Handwriting';
        color:#fafafa;
    }
}

main {
    background-color: #fafafa;
}

.main-container {
    height: 500px;
    padding: 120px 10% 0px 10%;
    position: relative;
}

.main-text {
    float: left;
    position: absolute;
    z-index: 2;
}
.main-animation {
    position: relative;
}
.main-container h1{
    font-family: 'Poppins Bold';
    font-style: normal;
    font-size: 60px;
    color: #1F4262;
    padding-top: 90px;
    margin-bottom: 10px;
    animation-name: change-font;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
}
.main-container h2 {
    font-family: 'Poppins Bold';
    font-style: normal;
    position: absolute;
    color: #1F4262;
    padding-top: 180px;
}
.main-container p{
    width: 400px;
    padding-top: 250px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    color: #6388A9;
    margin-top: 0px;
    padding-bottom: 10px;
}

.btn-wrapper a{
    padding: 12px 40px;
    color: white;
    background: #0042C5;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 21px;
    display: inline-block;
    text-decoration: none;
}

.btn-wrapper a:hover{
    background-color: #0038A5;
    
}

.main-img {
    float: right;
    position: absolute;
    z-index: 0;
    right: 10%;
}

.illustration{
    height: 400px;
}

    /* About Us */
.aboutus {
    padding-top: 100px;
    background-color: rgba(0,0,0, 0.7);
    padding-bottom: 100px;
}
.about-header { 
    padding: 0 10%;
}

.about-header h1 {
    font-family:'Poppins';
    font-style:normal;
    font-size: 40px;
    color: white;
    margin-top: 0px;
}

.about-content {
    font-family:'Poppins';
    font-style:normal;
    color: white;
    font-weight:500 ;
    font-size: 16px;
    text-indent: 5%;
    text-align: justify;
    
}

    /* Profile */

.profilcontainer {
    background-color: #fafafa;
    width: 100%;
    padding-top: 100px;
    height: 700px;
}

.profile {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    color: #1F4262;
}

.profile h1 {
    font-family: 'Poppins Bold';
    font-size: 36px;
    margin: 0;
    padding-bottom: 20px;
}

.profile h2 {
    font-size: 20px;
    margin: 0;
}

.profileicons {
    width: 550px;
    margin: 0 auto;
}
.profileicon {
    height: 400px;
    float: left;
    padding: 0 15px;
}

.profileicon h3 {
    margin-bottom: 0px;
}

.profileicon p {
    margin-top: 0px;
}

.profilepic {
    background-size: cover;
    background-position: center;
    transition: all 1s;
}
#img1 {
    background-image: url(res/img1.JPG);
    border: rgb(252, 188, 60) 10px solid;
    border-radius: 10px;
    width: 150px;
    height: 225px;
    opacity: 1;
}
#img2 {
    background-image: url(res/img2.JPG);
    border: rgb(150,150,150) 10px solid;
    border-radius: 10px;
    width: 0px;
    height: 225px;
    opacity: 0.8;
}
#img3 {
    background-image: url(res/img3.JPG);
    border: rgb(202, 202, 202) 10px solid;
    border-radius: 10px;
    width: 0px;
    height: 225px;
    opacity: 0.5;
}
#img4 {
    background-image: url(res/img4.JPG);
    border: rgb(202, 202, 202) 10px solid;
    border-radius: 10px;
    width: 0px;
    height: 225px;
    opacity: 0.5;
}
#img5 {
    background-image: url(res/img5.JPG);
    border: rgb(202, 202, 202) 10px solid;
    border-radius: 10px;
    width: 0px;
    height: 225px;
    opacity: 0.5;
}

#icon1{
    width: 170px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#icon1 h3 {
    display: inline-block;
}

#icon1 p {
    display: inline-block;
}

#icon2{
    width: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#icon2 h3 {
    display: none;
}

#icon2 p {
    display: none;
}

#icon3{
    width: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#icon3 h3 {
    display: none;
}

#icon3 p {
    display: none;
}

#icon4{
    width: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#icon4 h3 {
    display: none;
}

#icon4 p {
    display: none;
}

#icon5{
    width: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#icon5 h3 {
    display: none;
}

#icon5 p {
    display: none;
}
.buttonslide {
    width: 100px;
    margin: 0 auto;
}

.left {
    border-radius: 30px;
    float: left;
    font-family: "Anicons Regular", sans-serif;
    color: #1F4262;
    font-size: 60px;
    padding-bottom: 92px;
    transform: rotate(180deg);
    font-variation-settings: "TIME" 1;
    transition: all 0.7s ease;
    cursor: pointer;
}

.left:hover {
    font-variation-settings: "TIME" 100;
}

.left::selection {
    color: #1F4262;
    background-color: #fafafa;
}

.right {
    padding-top: 80px;
    border-radius: 30px;
    float: right;
    font-family: "Anicons Regular", sans-serif;
    color: #1F4262;
    font-size: 60px;
    font-variation-settings: "TIME" 1;
    transition: all 0.7s ease;
    cursor: pointer;
}

.right:hover {
    font-variation-settings: "TIME" 100;
}

.right::selection {
    color: #1F4262;
    background-color: #fafafa;
}

footer {
    background-color: #003C84;
    height: 400px;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
}

.footer-list {
    float: left;
    margin-right: 40px;
    text-align: center;
}

.footer-logo {
    float: left;
    margin-right: 40px;
    padding: 40px 156px;
}

.footer-list li {
    padding: 10px;
    margin-right: 40px;
    list-style: none;
}