body {
    margin: 0px;
}

header {
    height: 100px;
    width: 100%;
    background-color: #fafafa;
    position: fixed;
    top: -1px;
}

.header-list {
    padding-right: 10%;
    text-align: right;
}

.header-list a {
    display: inline-block;
    line-height: 100px;
    padding: 0px 20px;
    font-style: normal;
    list-style: none;
    font-weight: 500;
    font-size: 17px;
    color: #002368;
    font-family: 'Poppins';
    text-decoration: none;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-list a:hover {
    background-color: rgba(252, 188, 60, 0.7);
    color: white;
}

.header-list a:active {
    background-color: rgb(0, 35, 104);
}

.header-logo {
    float: left;
    padding: 30px 10%;
}

.header-logo img {
    height: 40px;
}

.main {
    height: 600px;
}

.main-container{
    margin: 0px 156px;
}
.main-kiri{
    float: left;
}
.main-container h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #1F4262;
    padding-top: 90px;
    position: relative;
}
.main-container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #6388A9;
    position:relative;
    bottom: 40px;
}
.btn-wrapper a{
    padding: 12px 40px;
    color: white;
    background: #0042C5;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    display: inline-block;
    text-decoration: none;
}
.btn-wrapper a:hover{
    background-color: #0038A5;
    
}

.illustration{
    height: 504px;
    float: right;
    position: absolute;
    padding-top: 30px;
    right: 80px;

}

.about-header { 
    background-color:#DEE8F6;
    font-family:'Poppins';
    font-style:normal;
    font-weight:700 ;
    font-size: 36px;
    color: #1F4262;
    padding-left:156px;
    padding-right: 156px;
   }
.about-content {
    font-family:'Poppins';
    font-style:normal;
    font-weight:500 ;
    font-size: 19px;
    text-align: justify;
    
}

footer {
    background-color: #003C84;
    height: 400px;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
}

.footer-list {
    float: left;
    margin-right: 40px;
    text-align: center;
}

.footer-logo {
    float: left;
    margin-right: 40px;
    padding: 40px 156px;
}

.footer-list li {
    padding: 10px;
    margin-right: 40px;
    list-style: none;
}